* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.bts,
.dates,
.story,
.tokens,
/* .sign-up, */
.memories,
.nashe,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  /* background-image: url('./images/img-1.jpg'); */
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  display: flex;
  /* flex-direction: column; */
  width: 100vw;
  text-align: center; 
  height: 100vh;
   overflow: hidden;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: content-box;
  -webkit-text-stroke: 4px white;
  border-radius: 10%;
  background-repeat: no-repeat;
  color: #fff;
  /* padding-bottom: 5000px; */
  font-size: 150px;
}
/* .line {
  background-position: center;
  padding-left: 500px;
  background-size: cover;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px white;
  border-radius: 10%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */
.memories {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.story {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.tokens {
  background-image: url('/home/akash/Documents/rini/rini-website/public/images/80.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 400px;
  background-repeat: no-repeat;
  color: rgb(221, 12, 47);
  font-size: 30px;
}

/* .sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.nashe {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.dates {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size:  cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.bts{
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
body {
   background: #8b32a8;
  /* background-image: url('/images/story.jpg'); */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.title {
  font-size: 15em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: black
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}